{:objects
 {:nailbrush
  {:id :nailbrush,
   :description "a dirty wooden nailbrush",
   :objects nil,
   :locked nil,
   :container false,
   :object true,
   :type :object},
  :cushion
  {:id :cushion,
   :description "a gingham cushion",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :table
  {:id :table,
   :description "a wooden table",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :soap
  {:id :soap,
   :description "a bar of coal-tar soap",
   :objects nil,
   :locked nil,
   :container false,
   :object true,
   :type :object},
  :toothbrush
  {:id :toothbrush,
   :description "a battered pink plastic toothbrush",
   :objects nil,
   :locked nil,
   :container false,
   :object true,
   :type :object},
  :oilskin
  {:id :oilskin,
   :description
   "a greasy yellow oilskin coat, cracked across the shoulders",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :kchair
  {:id :kchair,
   :description "a bentwood chair",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :wheelbarrow
  {:id :wheelbarrow,
   :description "a broken wheelbarrow",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :stove
  {:id :stove,
   :description "an ancient iron range",
   :objects (),
   :container true,
   :object true,
   :type :object},
  :hatstand
  {:id :hatstand,
   :description "a hatstand",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :fur-coat
  {:id :fur-coat,
   :description "a moth-eaten brown fur coat",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :gaberdine
  {:id :gaberdine,
   :description "a dark gaberdine raincoat, which once was stylish",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :macintosh
  {:id :macintosh,
   :description "the sort of raincoat your father used to wear",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :clock
  {:id :clock,
   :description "a clock",
   :objects nil,
   :container false,
   :object true,
   :type :object},
  :kchair2
  {:id :kchair2,
   :description "a bentwood chair with one arm",
   :objects (:cushion),
   :container true,
   :object true,
   :type :object},
  :shears
  {:id :shears,
   :description
   "a pair of rusty shears, which once might have trimmed the hedge",
   :objects nil,
   :container false,
   :object true,
   :type :object}},
 :rooms
 {:hall
  {:description "a hall",
   :west :closet,
   :south :garden,
   :objects (:clock :hatstand),
   :type :room,
   :east :kitchen,
   :up :landing,
   :id :hall,
   :container true,
   :room true,
   :north :dining-room},
  :kitchen
  {:id :kitchen,
   :objects (:table :stove :kchair :kchair2),
   :description "a gloomy kitchen",
   :container true,
   :room true,
   :type :room,
   :west :hall},
  :landing
  {:description "a gloomy landing lit by a cobwebbed skylight",
   :down :hall,
   :objects (),
   :type :room,
   :east :bathroom,
   :id :landing,
   :container true,
   :room true,
   :north :bedroom},
  :closet
  {:id :closet,
   :objects (:fur-coat :gaberdine :macintosh :oilskin),
   :description "a dark closet mostly full of coats",
   :container true,
   :room true,
   :type :room,
   :east :hall},
  :garden
  {:description "An overgrown rose garden, which once was formal",
   :south :road1,
   :objects (),
   :type :room,
   :east :shed,
   :id :garden,
   :container true,
   :room true,
   :north :hall},
  :shed
  {:id :shed,
   :objects (:wheelbarrow :shears),
   :description "an old wooden shed",
   :container true,
   :room true,
   :type :room,
   :west :garden},
  :road1
  {:id :road1,
   :objects (),
   :description "a narrow road without pavements",
   :container true,
   :room true,
   :type :room},
  :bathroom
  {:id :bathroom,
   :objects (:toothbrush :nailbrush :soap),
   :description
   "a cramped and dirty bathroom with a bath, and an ancient toilet with a high iron cistern",
   :container true,
   :room true,
   :type :room,
   :west :landing}}}
